// Microsoft Visual C++ generated resource script.
#include <windows.h>
#include "../include/resource.h"

LANGUAGE 0x11, 0x01  // 日本語, SUBLANG_DEFAULT
#pragma code_page(932)

IDD_CONFIG_DIALOG DIALOGEX 0, 0, 180, 145
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "詳細設定"
FONT 9, "Yu Gothic UI", 0, 0, 0x1
BEGIN
    LTEXT           "WAV ビット深度:",-1,15,12,60,8
    EDITTEXT        EDIT_WAV_BITDEPTH,80,10,40,14,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "bit",-1,125,12,20,8
    GROUPBOX        "MP3 設定",-1,5,30,170,30
    LTEXT           "ビットレート:",-1,15,42,50,8
    EDITTEXT        EDIT_MP3_BITRATE,70,40,40,14,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "kbps",-1,115,42,20,8
    LTEXT           "FLAC 圧縮レベル:",-1,15,67,60,8
    EDITTEXT        EDIT_FLAC_LEVEL,80,65,40,14,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Opus ビットレート:",-1,15,87,60,8
    EDITTEXT        EDIT_OPUS_BITRATE,80,85,40,14,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "kbps",-1,125,87,20,8
    LTEXT           "サンプリング:",-1,15,107,50,8
    EDITTEXT        EDIT_SAMPLE_RATE,70,105,40,14,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Hz",-1,115,107,20,8
    DEFPUSHBUTTON   "OK",IDOK,65,126,50,14
    PUSHBUTTON      "キャンセル",IDCANCEL,122,126,50,14
END
